*:focus {
  outline: none !important;
}

::placeholder {
  color: #2d3748;
}

::selection {
  color: #ffffff;
  background: #728197;
}

a {
  text-decoration: none;
}

body {
  color: #5b687b;
  font-family: 'Lato', sans-serif;
}

h2 {
  color: lightseagreen;
  margin-top: unset;
  text-align: center;
}

.nav-link {
  display: inline;
  float: right;
  height: 36px;
  justify-self: end;
}

.navbar-element {
  display: inline;
  padding: 4px;
  margin-right: 10px;
}

.avatar-header {
  width: 62%;
  border-radius: 50%;
  border: 5px solid #dee0e4;
  align-self: center;
  margin-top: 32px;
  min-width: 242px;
}

.title-job {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 20px;
}

.title-header {
  color: white;
  margin-bottom: 45px;
  margin-top: 0px;
  font-size: 46px;
  text-align: left;
}

.header-detail {
  margin-top: 65px;
  justify-self: start;
}

.title-header-name {
  color: yellow;
}

.button-main {
  background-color: white;
  color: lightseagreen;
  text-decoration: none;
  font-weight: 800;
  /* padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; */
  /* padding: 10px 20px 10px 20px; */
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
}
.button-secondary{
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
}
.button-main:hover{
  background-color: yellow;
  color: darkblue;
}
.button-secondary:hover{
  background-color: yellow;
  color: darkblue;
}

.text-bold {
  font-weight: 600;
}

.container {
  width: 80%;
  margin: auto;
}

.text-header{
  color: white;
  font-weight: 600
}
.mt {
  margin-top: 20px;
}

.navbar-logo {
  height: 56px;
  padding: 4px 0px;
  justify-self: start;
}

.navbar-link {
  text-decoration: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 13px;
  color: lightseagreen;
}

.navbar-link:hover {
  color: #333c66;
}

.mb {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: flex-start;
}

.mb-project{
  display: flex;
}
.mt-50 {
  margin-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mb-50 {
  margin-bottom: 50px;
  text-align: center;
}

.header-background {
  background-image: url("../brand/bk_5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 94%;
}
.image-full-width {
  width: 80%;
    display: block;
    margin: auto;
}

.projects{
  display: inline-flex;
}
.habilities {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 16px;
}

.hability-card {
  margin-right: 10px;
}

.habilty-icon {
  height: 18px;
}

.hability-title {
  display: inline;
}

.hability-description {
  font-size: 14px;
  margin: 25px 0px;
}

.project-tag,
.hability-tag {
  background-color: rgba(51, 61, 102, 0.07);
  color: rgba(51, 61, 102, 0.8);
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 10px;
}

.profile-tag {
  background-color: hsla(0, 0%, 100%, 0.5);
  color: rgba(51, 61, 102, 0.7);
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 10px;
}

/*.image-project-b{
  width: 100%;
  height: 337px;
}*/
.hability-dot {
  color: #5b687b;
}

.hability-experience {
  font-size: 12px;
}

.section-design {
  padding: 30px 0px 30px 0px;
  margin-bottom: 20px;
}

.section-design__center h2,
.section-design__center p {
  text-align: center;
}

.project-card {
  border: 4px solid #fff;
  width: 85%;
  margin: auto;
  border-radius: 10px;
  padding: 15px;
  transition: all 0.12s ease-out;
}

.project-card:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-card h3,
.project-card p {
  color: #333c66;
}

.project-card h3 {
  text-transform: uppercase;
  margin-top: 0; /* Es igual a escribir 0px*/
  letter-spacing: 0px;
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* .row div,
.row div p,
.row div ul,
.row div ul li */
.row * {
  display: inline;
}

.row div ul {
  margin: 0px;
}

.float-right {
 display: flex;
}

.icon-list {
  filter: grayscale(100%);
  transition: all 0.15s ease-out;
  margin-right: 5px;
}

.icon-list:hover {
  filter: grayscale(0%);
}
.icon-image{
  height: 20px;
  width: 20px;
}

/* .icon-list li:first-child,
.icon-list li:last-child {
  font-size: 60px;
} */

#contact-form {
  margin: auto;
  display: block;
  width: 60%;
  margin-bottom: 30px;
}

#contact-form .from {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#contact-form input {
  width: 100%;
  margin-bottom: 10px;
}

#contact-form textarea,
#contact-form input {
  background-color: #edf2f7;
  border: unset;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 0 2px #edf2f7;
  transition: all 0.15s ease-out;
  color: #2d3748;
}

#contact-form textarea:hover,
#contact-form input:hover {
  box-shadow: 0 0 0 2px #ccd6e0;
}

#contact-form textarea:focus,
#contact-form input:focus {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #667cea;
}

#contact-form textarea {
  width: 100%;
}

#contact-form button {
  float: left;
  border: unset;
  margin-top: 10px;
}

.-bg__salmon {
  background-color: #fbec5d;
}

.-bg__blue {
  background-color: #d6edff;
}

.-bg__purple {
  background-color: #dbdfff;
}

.-bg__gray {
  background-color: #f9f9fa;
}

.-bg__white {
  background-color: #ffffff;
}

.-bg__blue-light {
  background-color: #edf2f7;
}

.w-50 {
  width: 50%;
  margin: auto;
}


@media only screen and (max-width:450px){
  .navbar-logo{
    display:none
  }
  .nav-link{
    justify-self: center;
  }
  #contact-form .from{
    grid-template-columns: none;
    grid-gap: 0px;
  }
  .button-main{
    font-size: 18px;
  }
}
@media only screen and (max-width:650px){
  #contact-form .from{
    grid-template-columns: none;
    grid-gap: 0px;
  }
}

@media only screen and (max-width:650px){
  .nav-media{
    display: grid !important;
    grid-template-columns: 50% 50% !important;
    align-items: flex-start;
  }
  .habilities,
  .projects{
    grid-template-columns: 100%;
    grid-gap: 16px;
    display: grid;
  }
  .mb{
    display: grid;
    grid-template-columns: 100% !important;
  }
  .avatar-header{
    display: none;
  } 
  .title-header{
    font-size: 30px;
  }
  .text-header{
    text-align: justify;
  }
  .section-design__center p {
    
    text-align: justify;
}
.button-secondary{
  padding: 10px;
}
.-bg__blue-light{
  font-size: 15px;
}
.row * {
  display: flex;
  justify-content: center;
}

.icon-list{
  padding: 20px 8px;
}
}


@media only screen and (max-width:950px){
  .habilities,
  .projects{
    grid-template-columns: 100%;
    grid-gap: 16px;
    display: grid;
  }
  .mb{
      display: grid;
      grid-template-columns: 50% 50%;
      /* align-items: unset; */
      justify-items: center;;
    }
  
  .hability-card{
    margin-bottom: 20px;
  }
  .nav-link{
    display: flex;
    justify-content: end;
  }
    /*.avatar-header{
    display: none;
  } */
  .header-detail{
    padding: 30px 0px;
  }
  .title-header{
    margin-bottom: 40px;
    font-size: 32px;
    text-align: justify;
  }
  .section-design__center{
    width: 100%;
  }
  .mb-project{
    display: flex;
  }
  .nav-media{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;
  }
  .text-header{
    margin-top: -10px;
    text-align: justify;
  }
  .row {
    display: grid;
     grid-template-rows: 50% 50%;
    justify-content: center;
  }
  .row * {
    justify-self: center;
    padding-top: 5px;
  }
  .float-right{
    padding-left: 0;
  }
  .header-detail {
    margin-top: 0px;
  }
}
@media only screen and (min-width:1200px){

  .mb{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .avatar-header{
    width: 62%;
    align-self: end;
    margin-top: 25px;
    max-width: 300px;
  }

  .title-header{
    margin-bottom: 40px;
    font-size: 38px;
    text-align: justify;
  }
  .section-design__center{
    width: 100%;
  }
  .mb-project{
    display: flex;
  }
  .nav-media{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;
  }
  .text-header{
    text-align: justify;
  }
  .projects{
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

}
